html, body
	width 100%
	height 100%

body
	background-color #565656
	font-family Arial

#dropzone 
	border: 10px dashed #ccc; 
	width: 80%
	height: 80%
	margin: 10%

#dropzone.hover 
	border: 10px dashed #333;

.button
	background-color #dcdcdc
	border-radius 8px
	padding 3px
	cursor pointer

.thumb
	border 1px solid #efefef
	display inline-block
	margin 5px
	position relative
	
	img
		margin 5px;
		width: 200px;

	.upload
		background-color: #585;
		color: #dcdcdc;
		position: absolute
		bottom 5px
		left 5px

.fileButton
	border 1px solid #AAA
	border-radius 10px
	color #EFEFEF
	cursor pointer
	margin: 20px 20%
	padding: 10px
	position relative
	text-align: center

	input[type=file]
		bottom 0
		left 0
		position absolute
		right 0
		top 0
		opacity 0

.fileButton:hover
	border-color #fff